
<section class="no-margin padding-bottom-lg padding-top-md">
  <div class="container">
    <div class="row">
      <div class="col-12 center">
        <!-- <h2 class="text-xl">Join our growing list of satisfied clients</h2>
        <p>Discover the transformative power of our Augmented Talent Solutions.</p> -->
        <div class="container">
            <h2 class="text-xl"> Transform Your</h2> 
            <div id=flip>
              <div><div>sourcing</div></div>
              <div><div>screening</div></div>        
              <div><div>selection</div></div>
            </div>
          </div>

      </div>
    </div>
    
  </div>
<!-- Start of HubSpot Embed Code -->
<!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4273274.js"></script> -->
<!-- End of HubSpot Embed Code -->
</section>
