
<section class="no-margin padding-bottom-lg padding-top-md">
  <div class="container">
    <div class="row">
      <div class="col-12 center">
        <h2 class="text-xl">Join our growing list of satisfied clients</h2>
        <p>Discover the difference of our augmented talent solutions.</p>
      </div>
    </div>
  
    <!-- <div class="row feature-list">
      <div class="flex-container">
        <div>
          <img src="https://res.cloudinary.com/victorydev/image/upload/v1513363116/naswhitingfield_ywopbg.jpg"></img>
        </div>
        <div>
          <img src="https://res.cloudinary.com/victorydev/image/upload/v1513363116/naswhitingfield_ywopbg.jpg"></img>
        </div>
        <div>
          <img src="https://res.cloudinary.com/victorydev/image/upload/v1513363116/naswhitingfield_ywopbg.jpg"></img>
        </div>
        <div>
          <img src="https://res.cloudinary.com/victorydev/image/upload/v1513363116/naswhitingfield_ywopbg.jpg"></img>
        </div>
        <div>
          <img src="https://res.cloudinary.com/victorydev/image/upload/v1513363116/naswhitingfield_ywopbg.jpg"></img>
        </div>
        <div>
          <img src="https://res.cloudinary.com/victorydev/image/upload/v1513363116/naswhitingfield_ywopbg.jpg"></img>
        </div>
        <div>
          <img src="https://res.cloudinary.com/victorydev/image/upload/v1513363116/naswhitingfield_ywopbg.jpg"></img>
        </div>
          
    </div>         -->
    
  </div>
  <script>
    (function () {
      // Lazy-load contributor images
      window.onload = function () {
        for (var el of document.querySelectorAll('.github-contributors__avatar')) {
          el.style.backgroundImage = 'url(' + el.getAttribute('data-bg') + ')';
        }
      }
    })();
  </script>
</section>
