{{ partial "head" . }}
<body class="floating-navbar template-landing">

{{ partial "navbar" . }}

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12 center">
        <h1>
          Get and keep the candidates you want <span class="jumbotron__undie">today</span>.
        </h1>
        <p class="font-light text-xl no-margin-bottom">
          A talent solution that <i>delivers</i>.
        </p>
        {{ partial "contact-button" }}
      </div>
    </div>
    <div class="jumbotron__img-container">
      <img src="/images/screens/main.png" class="jumbotron__img" alt="Redcell Talent Accelerator"/>
    </div>
  </div>
</div>

<main role="main">
  <section class="no-margin padding-top-lg padding-bottom-lg">
    <div class="container center">
      <div class="row">
        <div class="col-12">
          <h2 class="text-xxl">
            A powerful intelligence toolbelt, that doesn't get in the way.
          </h2>
          <p class="text-lg" style="max-width:35rem;margin:auto">
            <strong>Drive Results</strong> that <strong>Matter</strong>. Improve retention, time to fill and time to productivity while <i>reducing cost per hire</i>.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 padding-top-lg">
          <div class="img--promo">
            <img src="/images/screens/template.png" alt="Redcell Request Templating">
          </div>
          <h3>Personalized</h3>
          <p>
            Identify high-quality candidates based on the skills and behaviors of your most engaged employees with the power of <code style="color:#333">Artificial Intelligence</code>.
          </p>
        </div>
        <div class="col-4 padding-top-lg">
          <div class="img--promo">
            <img src="/images/screens/responses.png"
                 alt="Redcell responses">
          </div>
          <h3>Targeted</h3>
          <p>
            Reach these candidates with highly performant, personalized, cross-channel campaigns. We scale to your needs, on demand with our <code style="color:#333">Programmatic</code> marketing solutions.
          </p>
        </div>
        <div class="col-4 padding-top-lg">
          <div class="img--promo">
            <img src="/images/screens/drag.png" alt="Redcell Request Organization">
          </div>
          <h3>Trusted</h3>
          <p>
            Reduce waste, eliminate duplicative effort like background checks, automate onboarding processes with smart contracts on our <code style="color:#333">Blockchain</code> services.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="dark no-margin padding-bottom-lg padding-top-lg">
    <div class="container center">
      <div class="row">
        <div class="col-12">
          <h2 class="text-xxl">Quit wasting money on legacy recruiting.</h2>
          <p class="text-lg" style="max-width:35rem;margin:auto">
            It's time to experience real <i>ROI</i> in your talent operations.
            <br>
            <br>
            {{ partial "calculator-button" }}
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="no-margin padding-top-lg padding-bottom-lg">
    <div class="container">
      <div class="row row-center-y">
        <div class="col-5">
          <h3 class="text-xl">Simplify your Recruiting Process</h3>
          <p>
            <strong>Learn and repeat</strong> the patterns that are driving recruiting and retention success with A.I.
          </p>
        </div>
        <div class="col-7">
          <img src="/images/screens/big/environments.png"
               alt="Redcell Cookies">
        </div>
      </div>
      <div class="row row-center-y padding-top-lg">
        <div class="col-5">
          <h3 class="text-xl">Talent is Everywhere</h3>
          <p>
            <strong>Find the skills and fit</strong> with behavioral pattern recognition applied to programmatic marketing. Unleash the power of your own Big Data.
          </p>
        </div>
        <div class="col-7">
          <img src="/images/screens/big/code.png" alt="Redcell Client Cookies">
        </div>
      </div>
      <div class="row row-center-y padding-top-lg">
        <div class="col-5">
          <h3 class="text-xl">Love the experience</h3>
          <p>
            <strong>Get started quickly</strong> with our hands on
            approach and rapid deployment model. Give us your toughest challenges. <i>We're ready</i>.
          </p>
        </div>
        <div class="col-7">
          <img src="/images/screens/big/themes.png" alt="Redcell Themes">
        </div>
      </div>
    </div>
  </section>

  <section class="light no-margin padding-bottom-lg padding-top-lg">
    <div class="container center">
      <div class="row">
        <div class="col-12">
          <h2>The Blockchain Talent <i>Exchange</i> is launching soon &#10084;</h2>
          <p style="max-width:35rem;margin:auto" class="padding-bottom">
            Our collaborative, open source, and open knowledge approach to machine learning, and
            cross-platform programmatic sourcing has lead to our newest innovation: the <a href="http://blockchain.redcell.ai">Blockchain</a> powered Talent Exchange. 
          </p>
          {{ partial "beta-download-button" }}
          &nbsp;
          <a href="/support" class="button button--no-outline">Contact Us</a>
        </div>
      </div>
    </div>
  </section>

  <section class="dark no-margin padding-bottom-lg padding-top-lg">
    <div class="container">
      <div class="row">
        <div class="col-12 center">
          <h2 class="text-xl">Still not convinced?</h2>
          <p>Maybe this list of capabilities will help</p>
        </div>
      </div>
      <div class="row feature-list">
        <div class="col-6">
          <ul>
            <li>Data Architecture</li>
            <li>Systems Integrations</li>
            <li>Eliminate Human Bias</li>
            <li>Recruiting Intelligence</li>
            <li>Big Data <code style="color:#333">Analytics</code></li>
            <li>Smart Contract Development</li>
            <li>Google Jobs API integration</li>
            <li>Chatbot and Voice Solutions</li>
            <li>Landing Page Optimization</li>
            <li>Machine Learning</li>
            <li>Tensorflow <code style="color:#333">Modeling</code></li>
            <li>Hyperledger Fabric</li>
            <li>Opensource ATS Deployment</li>
            <li>Talent Pipeline <code style="color:#333">Creation</code></li>
          </ul>
        </div>
        <div class="col-6">
          <ul>
            <li>Talent Pipeline Automation</li>
            <li>ATS Setup and Optimization</li>
            <li>Programmatic Sourcing</li>
            <li>A/B Testing and Analysis</li>
            <li>Social Campaign <code style="color:#333">Optimization</code></li>
            <li>HR Data security</li>
            <li>Process Mapping</li>
            <li>Technical RPO</li>
            <li>Responsive interface</li>
            <li>Compliance Reporting <code style="color:#333">Automation</code></li>
            <li>Diversity Sourcing</li>
            <li>Nurturing Campaigns</li>
          </ul>
        </div>
      </div>
      <br>
      <div class="center">
        <p>Let's Connect. You won't regret it.</p>
        <br>
        {{ partial "contact-button" }}
      </div>
      <br>
    </div>
  </section>
</main>

{{ partial "footer" . }}
{{ partial "js" . }}

    <script>
      // Check that service workers are registered
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/sw.js');
        });
      }
      </script>

</body>
</html>
